In [1]:
import pandas as pd
import numpy as np
import re
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_kl=pd.read_csv('mudah_kl_add.csv')
df_sel=pd.read_csv('mudah_sel_add.csv')

In [3]:
df_kl.head()

,Unnamed: 0,Unnamed: 0.1,Area,Price,Bedroom,Bathroom,Type,SquareFeet,link,Title,Oth_Info,Carpark,Facilities
0,0,0,OUG,RM 3 999 000,8 Bedrooms,8 Bathrooms,Houses,7000 sq.ft,https://www.mudah.my/Happy+Garden+Bungalow+3+S...,Freehold,Non Bumi Lot,NaN,NaN
1,1,1,Desa ParkCity,RM 3 300 000,4 Bedrooms,3 Bathrooms,Houses,2379 sq.ft,https://www.mudah.my/Desa+park+city+zenia+end+...,Freehold,Non Bumi Lot,NaN,"Swimming Pool, Gymnasium, Playground, Jogging ..."
2,2,2,Wangsa Maju,RM 590 000,4 Bedrooms,2 Bathrooms,Apartments,1065 sq.ft,https://www.mudah.my/QN+Residence+Jalan+Wangsa...,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ..."
3,3,2,Wangsa Maju,RM 590 000,4 Bedrooms,2 Bathrooms,Apartments,1065 sq.ft,https://www.mudah.my/QN+Residence+Jalan+Wangsa...,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ..."
4,4,4,Ampang Hilir,RM 460 000,2 Bedrooms,2 Bathrooms,Apartments,743 sq.ft,https://www.mudah.my/PANDAN+PERDANA+new+condo+...,Leasehold,Non Bumi Lot,1.0,"Swimming Pool, Gymnasium, Tennis Court, Squash..."

In [4]:
df_sel.head()

,Unnamed: 0,Unnamed: 0.1,Area,Price,Bedroom,Bathroom,Type,SquareFeet,link,Title,Oth_Info,Carpark,Facilities
0,0,0,Kajang,RM 138 000,3 Bedrooms,2 Bathrooms,Apartments,800 sq.ft,https://www.mudah.my/Apartment+Cheras+Prima+Le...,Freehold,Non Bumi Lot,NaN,NaN
1,1,1,Subang Bestari,RM 210 000,3 Bedrooms,2 Bathrooms,Apartments,788 sq.ft,https://www.mudah.my/+Booking+RM1K+LEVEL+1+APA...,Leasehold,Non Bumi Lot,NaN,NaN
2,2,2,Semenyih,RM 1 003 000,5 Bedrooms,5 Bathrooms,Houses,3020 sq.ft,https://www.mudah.my/+SPACIOUS+LAND+RM5K+BOOKI...,Freehold,Non Bumi Lot,NaN,NaN
3,3,3,Batu Caves,RM 235 000,3 Bedrooms,2 Bathrooms,Apartments,816 sq.ft,https://www.mudah.my/Sri+gotong+apartment+batu...,Leasehold,Non Bumi Lot,2.0,"Mini Market, Playground"
4,4,4,Seri Kembangan,RM 270 000,1 Bedroom,1 Bathroom,Apartments,475 sq.ft,https://www.mudah.my/One+South+Studio+Flexis+4...,Leasehold,Non Bumi Lot,1.0,"Swimming Pool, Gymnasium, Tennis Court, Squash..."

In [5]:
df_kl.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Area', 'Price', 'Bedroom', 'Bathroom',
       'Type', 'SquareFeet', 'link', 'Title', 'Oth_Info', 'Carpark',
       'Facilities'],
      dtype='object')

In [6]:
df_sel.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Area', 'Price', 'Bedroom', 'Bathroom',
       'Type', 'SquareFeet', 'link', 'Title', 'Oth_Info', 'Carpark',
       'Facilities'],
      dtype='object')

In [7]:
df_kl.shape

(20507, 13)

In [8]:
df_sel.shape

(20597, 13)

In [9]:
df_kl['State']='Kuala Lumpur'
df_sel['State']='Selongor'

In [10]:
df=pd.concat([df_kl,df_sel])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41104 entries, 0 to 20596
Data columns (total 14 columns):
Unnamed: 0      41104 non-null int64
Unnamed: 0.1    41104 non-null int64
Area            41104 non-null object
Price           41104 non-null object
Bedroom         38414 non-null object
Bathroom        38421 non-null object
Type            38440 non-null object
SquareFeet      39383 non-null object
link            41104 non-null object
Title           41104 non-null object
Oth_Info        41104 non-null object
Carpark         16316 non-null float64
Facilities      25856 non-null object
State           41104 non-null object
dtypes: float64(1), int64(2), object(11)
memory usage: 4.7+ MB

In [12]:
df=df.drop(['Unnamed: 0','Unnamed: 0.1','link'],axis=1)

In [13]:
df.isnull().sum()

Area              0
Price             0
Bedroom        2690
Bathroom       2683
Type           2664
SquareFeet     1721
Title             0
Oth_Info          0
Carpark       24788
Facilities    15248
State             0
dtype: int64

In [14]:
df['Bedroom']=df['Bedroom'].str.extract('(\d+)')

In [15]:
df['Bathroom']=df['Bathroom'].str.extract('(\d+)')

In [16]:
df['SquareFeet']=df['SquareFeet'].str.extract('(\d+)')

In [17]:
df['Price'] = df['Price'].apply(lambda x: re.sub(r"\s+", "", x))

In [18]:
#remove RM in price
df['Price'] = df['Price'].apply(lambda x: x[2:])

In [19]:
df.head()

,Area,Price,Bedroom,Bathroom,Type,SquareFeet,Title,Oth_Info,Carpark,Facilities,State
0,OUG,3999000,8,8,Houses,7000,Freehold,Non Bumi Lot,NaN,NaN,Kuala Lumpur
1,Desa ParkCity,3300000,4,3,Houses,2379,Freehold,Non Bumi Lot,NaN,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
2,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
3,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
4,Ampang Hilir,460000,2,2,Apartments,743,Leasehold,Non Bumi Lot,1.0,"Swimming Pool, Gymnasium, Tennis Court, Squash...",Kuala Lumpur

In [20]:
df['Bedroom'] = df['Bedroom'].fillna(0)

In [21]:
df['Bathroom'] = df['Bathroom'].fillna(0)

In [22]:
df['Carpark'] = df['Carpark'].fillna(0)

In [23]:
df.head()

,Area,Price,Bedroom,Bathroom,Type,SquareFeet,Title,Oth_Info,Carpark,Facilities,State
0,OUG,3999000,8,8,Houses,7000,Freehold,Non Bumi Lot,0.0,NaN,Kuala Lumpur
1,Desa ParkCity,3300000,4,3,Houses,2379,Freehold,Non Bumi Lot,0.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
2,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
3,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
4,Ampang Hilir,460000,2,2,Apartments,743,Leasehold,Non Bumi Lot,1.0,"Swimming Pool, Gymnasium, Tennis Court, Squash...",Kuala Lumpur

In [24]:
df['Facilities'] = df['Facilities'].fillna('No Facilities')

In [25]:
df.isna().sum()

Area             0
Price            0
Bedroom          0
Bathroom         0
Type          2664
SquareFeet    1721
Title            0
Oth_Info         0
Carpark          0
Facilities       0
State            0
dtype: int64

In [26]:
df['Type'].value_counts()

 Apartments     21593
 Houses         16847
Name: Type, dtype: int64

In [27]:
df = df.dropna()

In [28]:
df.isna().sum()

Area          0
Price         0
Bedroom       0
Bathroom      0
Type          0
SquareFeet    0
Title         0
Oth_Info      0
Carpark       0
Facilities    0
State         0
dtype: int64

In [29]:
df.shape

(38439, 11)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38439 entries, 0 to 20596
Data columns (total 11 columns):
Area          38439 non-null object
Price         38439 non-null object
Bedroom       38439 non-null object
Bathroom      38439 non-null object
Type          38439 non-null object
SquareFeet    38439 non-null object
Title         38439 non-null object
Oth_Info      38439 non-null object
Carpark       38439 non-null float64
Facilities    38439 non-null object
State         38439 non-null object
dtypes: float64(1), object(10)
memory usage: 3.5+ MB

In [31]:
cols = ['Price','Bedroom', 'Bathroom', 'SquareFeet','Carpark']
df[cols] = df[cols].astype('int')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38439 entries, 0 to 20596
Data columns (total 11 columns):
Area          38439 non-null object
Price         38439 non-null int32
Bedroom       38439 non-null int32
Bathroom      38439 non-null int32
Type          38439 non-null object
SquareFeet    38439 non-null int32
Title         38439 non-null object
Oth_Info      38439 non-null object
Carpark       38439 non-null int32
Facilities    38439 non-null object
State         38439 non-null object
dtypes: int32(5), object(6)
memory usage: 2.8+ MB

In [33]:
df.head(10)

,Area,Price,Bedroom,Bathroom,Type,SquareFeet,Title,Oth_Info,Carpark,Facilities,State
0,OUG,3999000,8,8,Houses,7000,Freehold,Non Bumi Lot,0,No Facilities,Kuala Lumpur
1,Desa ParkCity,3300000,4,3,Houses,2379,Freehold,Non Bumi Lot,0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
2,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
3,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
4,Ampang Hilir,460000,2,2,Apartments,743,Leasehold,Non Bumi Lot,1,"Swimming Pool, Gymnasium, Tennis Court, Squash...",Kuala Lumpur
5,Cheras,300000,3,2,Apartments,748,Leasehold,Bumi Lot,1,"Mini Market, Playground, Jogging Track, 24 Hou...",Kuala Lumpur
6,Cheras,950000,7,5,Houses,2400,Leasehold,Non Bumi Lot,0,"Mini Market, Playground, 24 Hour Security, Bal...",Kuala Lumpur
7,Bandar Tasik Selatan,199000,3,2,Apartments,650,Leasehold,Bumi Lot,0,No Facilities,Kuala Lumpur
8,Cheras,330000,3,2,Apartments,1075,Freehold,Non Bumi Lot,1,"Swimming Pool, Gymnasium, Tennis Court, Squash...",Kuala Lumpur
9,Cheras,519000,4,3,Apartments,1001,Leasehold,Non Bumi Lot,2,"Swimming Pool, Gymnasium, Tennis Court, Squash...",Kuala Lumpur

In [34]:
df.to_csv("mudah_property_clean.csv",index=False)