In [1]:
#Name: Bong Sze Ting 
#matric no: 17036508/1 (WQD 180033)

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
#import property datasets
df_kl=pd.read_csv('./mudah_kl_add.csv')
df_sel=pd.read_csv('./mudah_sel_add.csv')

In [4]:
#read the first 4 rows for kl dataset
df_kl.head()

,Unnamed: 0,Unnamed: 0.1,Area,Price,Bedroom,Bathroom,Type,SquareFeet,link,Title,Oth_Info,Carpark,Facilities
0,0,0,OUG,3999000,8 Bedrooms,8 Bathrooms,Houses,7000 sq.ft,https://www.mudah.my/Happy+Garden+Bungalow+3+S...,Freehold,Non Bumi Lot,NaN,NaN
1,1,1,Desa ParkCity,3300000,4 Bedrooms,3 Bathrooms,Houses,2379 sq.ft,https://www.mudah.my/Desa+park+city+zenia+end+...,Freehold,Non Bumi Lot,NaN,"Swimming Pool, Gymnasium, Playground, Jogging ..."
2,2,2,Wangsa Maju,590000,4 Bedrooms,2 Bathrooms,Apartments,1065 sq.ft,https://www.mudah.my/QN+Residence+Jalan+Wangsa...,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ..."
3,3,2,Wangsa Maju,590000,4 Bedrooms,2 Bathrooms,Apartments,1065 sq.ft,https://www.mudah.my/QN+Residence+Jalan+Wangsa...,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ..."
4,4,4,Ampang Hilir,460000,2 Bedrooms,2 Bathrooms,Apartments,743 sq.ft,https://www.mudah.my/PANDAN+PERDANA+new+condo+...,Leasehold,Non Bumi Lot,1.0,"Swimming Pool, Gymnasium, Tennis Court, Squash..."

In [5]:
#read the first 4 rows for selongor dataset
df_sel.head()

,Unnamed: 0,Unnamed: 0.1,Area,Price,Bedroom,Bathroom,Type,SquareFeet,link,Title,Oth_Info,Carpark,Facilities
0,0,0,Kajang,138000,3 Bedrooms,2 Bathrooms,Apartments,800 sq.ft,https://www.mudah.my/Apartment+Cheras+Prima+Le...,Freehold,Non Bumi Lot,NaN,NaN
1,1,1,Subang Bestari,210000,3 Bedrooms,2 Bathrooms,Apartments,788 sq.ft,https://www.mudah.my/+Booking+RM1K+LEVEL+1+APA...,Leasehold,Non Bumi Lot,NaN,NaN
2,2,2,Semenyih,1003000,5 Bedrooms,5 Bathrooms,Houses,3020 sq.ft,https://www.mudah.my/+SPACIOUS+LAND+RM5K+BOOKI...,Freehold,Non Bumi Lot,NaN,NaN
3,3,3,Batu Caves,235000,3 Bedrooms,2 Bathrooms,Apartments,816 sq.ft,https://www.mudah.my/Sri+gotong+apartment+batu...,Leasehold,Non Bumi Lot,2.0,"Mini Market, Playground"
4,4,4,Seri Kembangan,270000,1 Bedroom,1 Bathroom,Apartments,475 sq.ft,https://www.mudah.my/One+South+Studio+Flexis+4...,Leasehold,Non Bumi Lot,1.0,"Swimming Pool, Gymnasium, Tennis Court, Squash..."

In [6]:
#check the columns name for KL dataset
df_kl.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Area', 'Price', 'Bedroom', 'Bathroom',
       'Type', 'SquareFeet', 'link', 'Title', 'Oth_Info', 'Carpark',
       'Facilities'],
      dtype='object')

In [7]:
#check the columns name for selangor dataset
df_sel.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Area', 'Price', 'Bedroom', 'Bathroom',
       'Type', 'SquareFeet', 'link', 'Title', 'Oth_Info', 'Carpark',
       'Facilities'],
      dtype='object')

In [8]:
#check the number of rows and columns for kl dataset
df_kl.shape

(20507, 13)

In [9]:
#check the number of rows and columns for selangor dataset
df_sel.shape

(20597, 13)

In [10]:
#both datasets have the same number of columns and columns name, thus combine two dataset into one dataset
#before combine the two dataset, we have to create a new column to determine the state for each property. 
#in our case, we only have the properties from kl and selongor.

In [11]:
df_kl['state']='Kuala Lumpur'
df_sel['state']='Selongor'

In [12]:
#check again the columns name for kl dataset
df_kl.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Area', 'Price', 'Bedroom', 'Bathroom',
       'Type', 'SquareFeet', 'link', 'Title', 'Oth_Info', 'Carpark',
       'Facilities', 'state'],
      dtype='object')

In [13]:
#check again the columns name for selongor dataset
df_sel.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Area', 'Price', 'Bedroom', 'Bathroom',
       'Type', 'SquareFeet', 'link', 'Title', 'Oth_Info', 'Carpark',
       'Facilities', 'state'],
      dtype='object')

In [14]:
#new column is added into both dataset. 
#next, join the two datasets
df=pd.concat([df_kl,df_sel])

In [15]:
#check the number of rows and columns for joined dataset
df.shape

(41104, 14)

In [16]:
#read the first 4 rows of joined dataset
df.head()

,Unnamed: 0,Unnamed: 0.1,Area,Price,Bedroom,Bathroom,Type,SquareFeet,link,Title,Oth_Info,Carpark,Facilities,state
0,0,0,OUG,3999000,8 Bedrooms,8 Bathrooms,Houses,7000 sq.ft,https://www.mudah.my/Happy+Garden+Bungalow+3+S...,Freehold,Non Bumi Lot,NaN,NaN,Kuala Lumpur
1,1,1,Desa ParkCity,3300000,4 Bedrooms,3 Bathrooms,Houses,2379 sq.ft,https://www.mudah.my/Desa+park+city+zenia+end+...,Freehold,Non Bumi Lot,NaN,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
2,2,2,Wangsa Maju,590000,4 Bedrooms,2 Bathrooms,Apartments,1065 sq.ft,https://www.mudah.my/QN+Residence+Jalan+Wangsa...,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
3,3,2,Wangsa Maju,590000,4 Bedrooms,2 Bathrooms,Apartments,1065 sq.ft,https://www.mudah.my/QN+Residence+Jalan+Wangsa...,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
4,4,4,Ampang Hilir,460000,2 Bedrooms,2 Bathrooms,Apartments,743 sq.ft,https://www.mudah.my/PANDAN+PERDANA+new+condo+...,Leasehold,Non Bumi Lot,1.0,"Swimming Pool, Gymnasium, Tennis Court, Squash...",Kuala Lumpur

In [17]:
# now the two datasets are joined together into one dataset

In [18]:
#get the info of the joined dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41104 entries, 0 to 20596
Data columns (total 14 columns):
Unnamed: 0      41104 non-null int64
Unnamed: 0.1    41104 non-null int64
Area            41104 non-null object
Price           41104 non-null int64
Bedroom         38414 non-null object
Bathroom        38421 non-null object
Type            38440 non-null object
SquareFeet      39383 non-null object
link            41104 non-null object
Title           41104 non-null object
Oth_Info        41104 non-null object
Carpark         16316 non-null float64
Facilities      25856 non-null object
state           41104 non-null object
dtypes: float64(1), int64(3), object(10)
memory usage: 4.7+ MB

In [19]:
# check the missing values per columns
df.isnull().sum()

Unnamed: 0          0
Unnamed: 0.1        0
Area                0
Price               0
Bedroom          2690
Bathroom         2683
Type             2664
SquareFeet       1721
link                0
Title               0
Oth_Info            0
Carpark         24788
Facilities      15248
state               0
dtype: int64

In [20]:
#the first two columns are unwanted columns, so will be removed
#link column is not applicable for analysis so will be removed as well
df=df.drop(['Unnamed: 0','Unnamed: 0.1','link'],axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41104 entries, 0 to 20596
Data columns (total 11 columns):
Area          41104 non-null object
Price         41104 non-null int64
Bedroom       38414 non-null object
Bathroom      38421 non-null object
Type          38440 non-null object
SquareFeet    39383 non-null object
Title         41104 non-null object
Oth_Info      41104 non-null object
Carpark       16316 non-null float64
Facilities    25856 non-null object
state         41104 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 3.8+ MB

In [22]:
#extract number from bedroom,bathroom,squarefeet columns

In [23]:
df['Bedroom']=df['Bedroom'].str.extract('(\d+)')

In [24]:
df['Bathroom']=df['Bathroom'].str.extract('(\d+)')

In [25]:
df['SquareFeet']=df['SquareFeet'].str.extract('(\d+)')

In [26]:
df.isnull().sum()

Area              0
Price             0
Bedroom        2690
Bathroom       2683
Type           2664
SquareFeet     1721
Title             0
Oth_Info          0
Carpark       24788
Facilities    15248
state             0
dtype: int64

In [27]:
#replace the missing values for bedroom, bathroom and carpark with zero

In [28]:
df['Bedroom'] = df['Bedroom'].fillna(0)

In [29]:
df['Bathroom'] = df['Bathroom'].fillna(0)

In [30]:
df['Carpark'] = df['Carpark'].fillna(0)

In [31]:
df.isnull().sum()

Area              0
Price             0
Bedroom           0
Bathroom          0
Type           2664
SquareFeet     1721
Title             0
Oth_Info          0
Carpark           0
Facilities    15248
state             0
dtype: int64

In [32]:
#check the unique type
df['Type'].value_counts()

 Apartments     21593
 Houses         16847
Name: Type, dtype: int64

In [33]:
#missing value for type column will replace with 'did not disclose'
df['Type'] = df['Type'].fillna('Did not disclose')

In [34]:
df['Type'].value_counts()

 Apartments         21593
 Houses             16847
Did not disclose     2664
Name: Type, dtype: int64

In [35]:
df.isnull().sum()

Area              0
Price             0
Bedroom           0
Bathroom          0
Type              0
SquareFeet     1721
Title             0
Oth_Info          0
Carpark           0
Facilities    15248
state             0
dtype: int64

In [36]:
#facilities column explain the facilities that having by each property, 
#thus the missing values will replaced with 'no facilities'
df['Facilities'] = df['Facilities'].fillna('No Facilities')

In [37]:
df.isnull().sum()

Area             0
Price            0
Bedroom          0
Bathroom         0
Type             0
SquareFeet    1721
Title            0
Oth_Info         0
Carpark          0
Facilities       0
state            0
dtype: int64

In [38]:
#there is 1721 missing value for squarefeet, and it account for 4% of the total data
#squarefeet is important variable for the further analysis.thus,the missing value will be romoved.

100* df.isnull().sum()/len(df)

Area          0.00000
Price         0.00000
Bedroom       0.00000
Bathroom      0.00000
Type          0.00000
SquareFeet    4.18694
Title         0.00000
Oth_Info      0.00000
Carpark       0.00000
Facilities    0.00000
state         0.00000
dtype: float64

In [39]:
df = df.dropna()

In [40]:
#no missing data in the dataset
df.isnull().sum()

Area          0
Price         0
Bedroom       0
Bathroom      0
Type          0
SquareFeet    0
Title         0
Oth_Info      0
Carpark       0
Facilities    0
state         0
dtype: int64

In [41]:
df.head()

,Area,Price,Bedroom,Bathroom,Type,SquareFeet,Title,Oth_Info,Carpark,Facilities,state
0,OUG,3999000,8,8,Houses,7000,Freehold,Non Bumi Lot,0.0,No Facilities,Kuala Lumpur
1,Desa ParkCity,3300000,4,3,Houses,2379,Freehold,Non Bumi Lot,0.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
2,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
3,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2.0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
4,Ampang Hilir,460000,2,2,Apartments,743,Leasehold,Non Bumi Lot,1.0,"Swimming Pool, Gymnasium, Tennis Court, Squash...",Kuala Lumpur

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39383 entries, 0 to 20596
Data columns (total 11 columns):
Area          39383 non-null object
Price         39383 non-null int64
Bedroom       39383 non-null object
Bathroom      39383 non-null object
Type          39383 non-null object
SquareFeet    39383 non-null object
Title         39383 non-null object
Oth_Info      39383 non-null object
Carpark       39383 non-null float64
Facilities    39383 non-null object
state         39383 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 3.6+ MB

In [43]:
#now change the type for bedroom,bathroom squarefeet and carpark into integer
cols = ['Bedroom', 'Bathroom', 'SquareFeet','Carpark']
df[cols] = df[cols].astype('int')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39383 entries, 0 to 20596
Data columns (total 11 columns):
Area          39383 non-null object
Price         39383 non-null int64
Bedroom       39383 non-null int32
Bathroom      39383 non-null int32
Type          39383 non-null object
SquareFeet    39383 non-null int32
Title         39383 non-null object
Oth_Info      39383 non-null object
Carpark       39383 non-null int32
Facilities    39383 non-null object
state         39383 non-null object
dtypes: int32(4), int64(1), object(6)
memory usage: 3.0+ MB

In [45]:
df.head()

,Area,Price,Bedroom,Bathroom,Type,SquareFeet,Title,Oth_Info,Carpark,Facilities,state
0,OUG,3999000,8,8,Houses,7000,Freehold,Non Bumi Lot,0,No Facilities,Kuala Lumpur
1,Desa ParkCity,3300000,4,3,Houses,2379,Freehold,Non Bumi Lot,0,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
2,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
3,Wangsa Maju,590000,4,2,Apartments,1065,Leasehold,Non Bumi Lot,2,"Swimming Pool, Gymnasium, Playground, Jogging ...",Kuala Lumpur
4,Ampang Hilir,460000,2,2,Apartments,743,Leasehold,Non Bumi Lot,1,"Swimming Pool, Gymnasium, Tennis Court, Squash...",Kuala Lumpur

In [ ]:
#the dataset now is cleaned and ready for further analysis